.Naranja{
    color: #FFB233 ;
}
.Banana{
    color: #FFF033;
}
.Frutilla{
    color: #FF3933;
}
.Kiwi{
    color: #79CC2F;
}
.Uva{
    color: #9C2FCC;
}
.Melon{
    color: #E2FB56;
}
.Durazno{
    color: #FBC956;
}
.Palta{
    color: #38AB4B;
}
.Limon{
    color: #F5F10E;
}
.Arandano{
    color: #780FA0;
}