h1{
    font-size: 120px; 
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}

p{  
    font-size: 48px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;

}

.rojo {
    color: red;
}

.verde {
    color: green;
}

.rosa {
    color: purple;
}