.a {
    font-size: 100px;
}
.b {
    font-size: 90px;
}
.c {
    font-size: 70px;
}
.d {
    font-size: 80px;
}
.e {
    font-size: 120px;
}
.f {
    font-size: 150px;
}
.g {
    font-size: 70px;
}
.h {
    font-size: 60px;
}
.i {
    font-size: 100px;
}
.j {
    font-size: 90px;
}

