*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
    
}

a{
    color: mediumvioletred;
    text-decoration: none;
}
.time{
    color: gray;
    font-size: 10px;
}

span{
    background-color: lightslategrey;
    word-spacing: 10px;
}